body {
    background-color: #aa9eaa;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    max-width: 55vw;
    min-height: 100vh;
    justify-content: center;
}

.conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
    width: 55vw; 
}

.overflow {
    width: 100%; 
    height: 100%;
    overflow: hidden;      
}

img {
    width: 100%;
    height: 100%;
}

.text-overflow {
    display: flex;
    max-width: 50%;
    overflow: hidden;
}

input {
    display: none;
}

.texts {
    display: flex;    
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    
}

.texts p {}

label {
    cursor: pointer;
    display: block;
    background-clip: content-box;
    width: 1em;
    height: 1em;
    background-color: blueviolet;
    border-radius: 50%;
    padding: 0.4em;    
}

label:hover {
    background-color: rgb(224, 40, 209);
}

#slide1:checked ~ .dots #l1,
#slide2:checked ~ .dots #l2,
#slide3:checked ~ .dots #l3,
#slide4:checked ~ .dots #l4 {
    background-color: rgb(224, 40, 209);
} 

.dots {
    display: flex;
    max-width: 50%; 
    gap: 0.1em;
}

.overflow {    
    overflow: hidden;
}

.slider {
    display: flex;
    width: 400%;    
    transition: transform 0.5s ease-in-out;
}

.slides {
    width: 25%;    
}


#slide1:checked~.overflow .slider {
    transform: translateX(0);
}

#slide2:checked~.overflow .slider {
    transform: translateX(-25%);
}

#slide3:checked~.overflow .slider {
    transform: translateX(-50%);
}

#slide4:checked~.overflow .slider {
    transform: translateX(-75%);
}

